/* ==== RESET ==== */
* {
  margin: 10;
  padding: 0 ;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ==== BODY ==== */
body {
  background: linear-gradient(135deg, #ebe3f4, #2575fc);
  color: #333;
  min-height: 100vh;
}

/* ==== NAVBAR ==== */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: 0.8s;
}

nav a:hover {
  color: #ffd700;
}

/* ==== HERO SECTION ==== */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 80px;
  color: white;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
}

.hero-text p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.hero-text button {
  background: #ffffff;
  color: #2575fc;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.hero-text button:hover {
  background: #ffd700;
  color: #fff;
}

/* ==== IMAGE ==== */
.hero img {
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* ==== ABOUT SECTION ==== */
.about {
  background: white;
  color: #333;
  padding: 100px 80px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  margin-top: 80px;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 700px;
}

/* ==== BUTTON ==== */
.btn {
  display: inline-block;
  margin-top: 30px;
  background: linear-gradient(135deg, #f3f1f5, #2575fc);
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
}


